<div class="row">
<div *ngFor = "let data of cardDetails" class="col-md-4" style="padding-bottom:5%">
<mat-card class="card-block custom-card-block create-card">
  <div class="row margin-5-perc">
      <div class="col-sm-12">
        <h4 class="card-title">
          {{data.title}}</h4>
        <div class="col-sm-12 desc">
        {{data.description}}
        </div>
        <div class="col-sm-12 text-center c-button"><button matTooltip={{data.tooltip}} class="m-top-10 _p-button" mat-flat-button
          (click) = "create(data.name)">{{data.action}}</button></div>
      </div>
  </div>
</mat-card>
</div>
</div>

