<div>
<div *ngIf = "!criteriaDetails" class="load">
  <mat-spinner [diameter]="70"></mat-spinner>
</div>
<mat-dialog-content class="dialog-color" *ngIf="criteriaDetails" class="mat-typography">
  <div class="row details">
    <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4">
      <div class="text-capital">
        <h3 mat-dialog-title>{{criteriaDetails?.name}}</h3>
      </div>
      <mat-card  class="card-block custom-card-block create-card card-height">
        <div class="text-capital data-long"> {{criteriaDetails?.description}}</div>
      </mat-card>
    </div>

    <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4">

      <div>
        <h4>{{'MESSAGES.ATTACHED_IMPS' | translate}}</h4>
      </div>

      <mat-card  class="card-height card-block custom-card-block create-card">
        <span class="message" *ngIf = "criteriaDetails['improvementProjects']?.length < 1">{{'MESSAGES.NO_IMP' | translate}}</span>
        <div *ngFor="let data of criteriaDetails['improvementProjects']">
          <li class="data-long">{{data?.title}}
            <i style="float: right;" class="material-icons actioncolor cursor-pointer" matTooltip="Delete"
              (click)="confirmation(data, 'Improvement')">delete</i>
          </li>
        </div>
      </mat-card>

    </div>
    <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4">
      <div>
        <h4> {{'MESSAGES.ATTACHED_RESOURCES' | translate}}</h4>
      </div>
      <mat-card  class="card-height card-block custom-card-block create-card">
      <span class="message" *ngIf = "criteriaDetails['learningResources']?.length < 1">{{'MESSAGES.NO_RESOURCES' | translate}}</span>
        <div *ngFor="let data of criteriaDetails['learningResources']">
          <li class="data-long">{{data?.name}} <i style="float: right;" class="material-icons actioncolor cursor-pointer"
              matTooltip="Delete" (click)="confirmation(data, 'resources')">delete</i></li>
        </div>
      </mat-card>
    </div>

  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close cdkFocusInitial>{{'ACTIONS.CLOSE' | translate}}</button>
</mat-dialog-actions>
</div>