$primary-color: #46a9ff;
$black-color: #4c4c4c;
$blue-gradient:#b35754;
$grey-color: #bababa;
$regular-font: 'SF-ui-text-regular';
$light-font: 'SF-ui-text-light';
$italic-font: 'SF-ui-text-italic';
$border-color : #e5e5e5;
$green-color: green;
$white-color: #fff;
$background-color :#f2f2f2;
$actual-black: #000;
$dark-blue:rgb(143, 56, 53);