$primary-color:var(--primary-color);
$black-color: var(--black-color);
$grey-color: var(--grey-color);
$light-grey-color:var(--light-grey-color);
$regular-font: 'SF-ui-text-regular';
$light-font: 'SF-ui-text-light';
$italic-font: 'SF-ui-text-italic';
$border-color : var(--border-color);
$green-color: var(--green-color);
$white-color: var(--white-color);
$background-color :var(--background-color);
$button-background-color: var(--button-background-color);
$app-blue-color:var(--app-blue-color);
$app-darkBlue-color:var(--app-darkBlue-color);
$faded-label-color:var(--faded-label-color);
$blue-gradient:var(--blue-gradient);
$dark-blue:var(--dark-blue);
$light-black-color:var(--light-black);
$text-color: var(--text-color);
$body-background: var(--body-background);


:root{
--light-black:"#6C6E71";
--primary-color:#A63936;
--black-color:#4c4c4c;
--grey-color:#bababa;
--light-grey-color:#e0e0e0;
--regular-font:'SF-ui-text-regular';
--light-font:'SF-ui-text-light';
--italic-font:'SF-ui-text-italic';
--border-color:#e5e5e5;
--green-color:rgb(1, 116, 1);
--white-color:#fff;
--background-color:#f2f2f2;
--button-background-color:#e5f2fe;
--darkBlack-color:#000;
--app-blue-color:#c17472;
--app-darkBlue-color:rgb(146, 54, 50);
--faded-label-color:rgba(0,0,0,.5);
--blue-gradient:#b35754;
--dark-blue:rgb(143, 56, 53);
--text-color: #83868a;
--body-background: #efeeee;
}