@import "../../../../assets/scss/varibles.scss";

.wrapper {
    // padding: 10px 15px;
    // margin: 15px auto;
    // max-width: 1200px;
    margin-top: 130px;
    line-height: 24px;
    color: #96989A !important;
}

.aboutSL {
    flex: 4;
    margin-right: 20px;
    // color: $black-color;
}

.aboutWrapper {
    // display: flex;
    // align-items: center;
}

.content {
    color: #96989A !important;

}

.aboutSLBanner {
    margin-top: 130px;

    flex: 5;
    img {
        width: 100%;
    }
}

.aboutText {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
    color: $black-color
}

.patnersWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

.patnerCard {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    img{
        width: 100%;
    }
}

.toolBar {
    height: auto;
    background-color: $light-grey-color;
    position: fixed;
    z-index: 10;
    top: 0
}

.videoContainer {
    padding-top: 35px;
}

.sidemenu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.noPadding {
    padding: 0
}