<div class="wrapper">
  <div class="_flex-box">
    <div class="aboutSL">
      <h1 class="aboutText">About Shikshalokam</h1>
      <p>
        ShikshaLokam enables and amplifies leadership development opportunities for individuals and institutions engaged
        in K-12 education systems.
      </p>
      <p>
        As a platform for education leadership, ShikshaLokam offers open-source technology capabilities and resources to
        a variety of ecosystem players, including Individuals, NGOs, and Government. ShikshaLokam aims to do so in ways
        that support education leadership development at a large scale with high impact. Keeping the Societal Platform
        construct, ShikshaLokam works towards distributing the ability to solve the gaps that exist in education
        leadership development space and improving the agency of actors in the ecosystem to drive large scale
        educational change programs.
      </p>
    </div>
    <div class="aboutSLBanner">
      <!-- <img src="../../../../assets/images/ShikshaLokam team.jpg"> -->
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0"
        allowfullscreen></iframe>

    </div>
  </div>
  <div *ngFor="let card of cardsData">
    <app-description-card [description]="card?.description" [image]="card?.image" [hideStartNow]="card?.hideStartNow"
      [logo]="card?.logo" [title]="card?.title" [appName]="card?.appName" [imagFirst]="card?.imagFirst">
    </app-description-card>
  </div>
  
  <div>
      <h1 class="aboutText">About Shikshalokam</h1>
      <div class="patnersWrapper">
        <div class="patnerCard" *ngFor="let partner of partnrs">
          <img src="{{partner}}">
        </div>
      </div>
  </div>

</div>