<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" class="sidemenu">
    <mat-action-list>
      <button mat-list-item (click)="sidenav.toggle();scrollToView('aboutSl')"> About Us </button>
      <button mat-list-item (click)="sidenav.toggle();scrollToView('explore')"> Explore </button>
      <button mat-list-item (click)="sidenav.toggle();scrollToView('partners')"> Our Partners </button>
      <button mat-list-item (click)="sidenav.toggle();scrollToView('footer')"> Contact Us </button>
      <a href="{{baseUrl}}" (click)="sidenav.toggle()">
        <button mat-flat-button color="primary" style="width: 100%">Login</button>
      </a>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolBar noMarginPadding">
      <div class="col-xs-12 noPadding">
        <app-community-header (linkClick)="scrollToView($event)" (toggle)="sidenav.toggle()"></app-community-header>
      </div>
    </mat-toolbar>
    <!-- <div class="col-xs-12 col-md-10 col-md-offset-1 wrapper"> -->
    <div class="col-xs-12 col-md-12  wrapper">
      <div class="col-xs-12 aboutWrapper noPaddingSmallScreen">

        <div class="col-sm-12  col-xs-12 col-md-12 col-lg-12 _margin-top noPaddingSmallScreen" #aboutSl>
          <!-- <h1 class="aboutText">About Shikshalokam</h1> -->
          <div class="container col-xs-12 noPadding">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="assets/images/carousel1.jpg" alt="carousel1" style="width:100%;">
                </div>

                <div class="item">
                  <img src="assets/images/carousel2.jpg" alt="carousel2" style="width:100%;">
                </div>

                <div class="item">
                  <img src="assets/images/carousel3.jpg" alt="carousel3" style="width:100%;">
                </div>
              </div>

              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="_margin-top col-xs-12">

            <p class="content _smallScreenText">
              ShikshaLokam enables and amplifies leadership development opportunities for individuals and institutions
              engaged in K-12 education systems
            </p>
            <p class="content _smallScreenText">
              As a platform for education leadership, ShikshaLokam offers open-source technological capabilities and
              learning resources to a variety of ecosystem actors, including Individuals, NGOs, and Government.
              ShikshaLokam aims to do so in ways that support education leadership development at a large scale with
              high
              impact in a sustainable manner.
            </p>
          </div>

        </div>
        <!-- <div class="col-sm-8 col-xs-12 _flex-box videoContainer">
          <iframe width="100%" height="350" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0"
            allowfullscreen></iframe>
        </div> -->
      </div>

      <div class="col-xs-12 noPaddingSmallScreen greyBackground"  #explore>
        <div *ngFor="let card of cardsData">
          <app-description-card [link]="card?.link" [description]="card?.description" [image]="card?.image"
            [hideStartNow]="card?.hideStartNow" [logo]="card?.logo" [title]="card?.title" [appName]="card?.appName"
            [playStoreLogo]="card?.playStoreLogo" [imagFirst]="card?.imagFirst">
          </app-description-card>
        </div>

      </div>

      <div #partners class="col-xs-12  noPaddingSmallScreen">
        <h1 class="aboutText">Our Partners</h1>
        <div class="slider-div">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slidePartnersConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let partner of partnrs" class="partnerImage col-md-4 col-sm-6 col-xs-12">
                <a href="{{partner.link}}" target="_blank">
                  <img src="{{partner.img}}" alt="" width="250px">
                </a>
            </div>


          </ngx-slick-carousel>
          <!-- <button mat-icon-button color="primary" class="btn-next slider-btn" (click)="next()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <button mat-icon-button color="primary" class="btn-prev slider-btn" (click)="prev()">
              <mat-icon>keyboard_arrow_left</mat-icon>
          </button> -->
        </div>
      </div>

<!-- 
      <div #partners class="col-xs-12  noPaddingSmallScreen">
          <h1 class="aboutText">Resources</h1>
          <div class="slider-div">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideResourcesConfig"
              (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
              (beforeChange)="beforeChange($event)">
              <div ngxSlickItem *ngFor="let resource of resources" class="col-md-4 col-sm-6 col-xs-12">
                  <a href="{{resource.link}}" target="_blank">
                    <img src="{{resource.img}}" alt="" width="250px">
                  </a>
              </div>
            </ngx-slick-carousel>
            <button mat-icon-button color="primary" class="btn-next slider-btn" (click)="next()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-icon-button color="primary" class="btn-prev slider-btn" (click)="prev()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          </div>
  
        </div> -->



    </div>
    <div #footer class="col-xs-12 _margin-top" style="padding: 0">
      <app-community-footer></app-community-footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>