<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <ul class="unorder-list">
          <li *ngFor="let dashboard of dashboards" class="icons" matTooltip={{dashboard.tooltip|translate}}>
            <a (click)="navigate(dashboard.url)" class="navigation">
              <i class="material-icons">
                {{dashboard.icon}}
              </i>
              <div class="context">
                <div class="text-flow" >
                  {{dashboard.tooltip | translate}}
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>