<div class="row" style="padding:25px;">
  <mat-form-field class="custom-form-field col-lg-12 col-xl-12 col-sm-12">
    <mat-label>{{'MESSAGES.SEARCH_RESOURCES' | translate}}</mat-label>
    <input [(ngModel)]="search" [appDebounceDirective]="search" (onValueChange)="getResourcesData()" #searchInput
      matInput>
    <button mat-icon-button matPrefix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<!-- <mat-dialog-content style="height: 75%;" class="mat-typography"> -->

  <mat-table *ngIf = "dataSource" style="height: 48vh;" [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Resource Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Resource Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </mat-row>>
</mat-table>
<div *ngIf="listCount == 0" class="message">{{'MESSAGES.NO_DATA' | translate}}</div>
  <mat-paginator [showFirstLastButtons]="true" [length]="listCount" #paginator
  [pageSize]="pageSize" [pageSizeOptions]="[5,10,20,50,100]"
  (page)="onPaginateChange($event)">
</mat-paginator>
  
<!-- </mat-dialog-content> -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'ACTIONS.CANCEL' | translate}}</button>
  <button mat-raised-button (click) = "updateCriteria()" cdkFocusInitial>{{'ACTIONS.SAVE' | translate}}</button>
</mat-dialog-actions>
