<div class="headrWrapper">
  <div class="leftContainer">
    <img src="../../../../assets/images/ShikshaLokam Logo_highrez_transparent.png">
  </div>
  <div  class="rightContainer">
    <div class="login">
      <a href="https://dev.shikshalokam.org/home">
        <button mat-flat-button  color="primary">Login</button>
      </a>
    </div>
    <div class="links">
      <ul>
        <li (click)="goTo('aboutSl')"><a>About Us</a></li>
        <li (click)="goTo('explore')"><a>Explore</a></li>
        <li (click)="goTo('partners')"><a>Our Partners</a></li>
        <li (click)="goTo('footer')"><a>Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
