@import '../../../../assets/scss/varibles.scss';
.card-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    width: 95%;
    top: 50%;
    position: absolute;
    color: $text-color;
  }