.c-filters {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.c-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.c-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  flex-direction: column;
  margin: 10px;
}
.icon-background {
  background-color: #e5f3fe;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 20% 35% 10% 35%;
  // padding: 20%;
}

.whole-card {
  padding-left: 5%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
}

.c-image {
  // height: 50px;
  width: 30px;
  margin-top: 25px;
}
.c-description {
  width: 250px;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  // padding-right: 60px;
  margin-right: 65px;
}
