@import '../../../../assets/scss/varibles.scss';
.task-header {
    background-color: $primary-color;
}

.title {
    color: $white-color;
    padding-left: 10px;
}

mat-dialog-actions {
    padding-right: 15px !important;
  }
