<h2 mat-dialog-title>
  <mat-toolbar role="toolbar" class="task-header">
    <div class="title">{{formdata?.title}} Criteria</div>
  </mat-toolbar>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row" style="margin: 10px;">
    <dynamic-form [fields]="formdata">
    </dynamic-form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click) = "onDismiss()">{{'ACTIONS.CANCEL' | translate}}</button>
  <app-button-loading [btnData]="onload" (onSubmit)="onSubmit()"></app-button-loading>
</mat-dialog-actions>
