<div>
  <mat-toolbar role="toolbar" class="task-header">
    <mat-icon style="color: white;">account_balance</mat-icon>
    <div class="title">Criteria</div>
  </mat-toolbar>
</div>
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
<mat-dialog-content class="mat-typography custom-dialog-content">

  <div class="row">
    <div class="col-sm-12">
    <mat-form-field class="example-full-width col-sm-12">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error >Name is Required</mat-error>
    </mat-form-field>
  </div>
  <div class="col-sm-12">
    <mat-form-field class="example-full-width col-sm-12">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error >Description is Required</mat-error>
    </mat-form-field>
  </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions" align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button mat-button type = "submit">ADD</button>
</mat-dialog-actions>
</form>