<div class="container-fluid">
    <div class="row completeDiv">
        <mat-toolbar class="toolBar noMarginPadding">
            <div class="col-xs-12 ">
                  <!-- <app-navbar [currentUser]="currentUser" (Logout)="onLogout()" [logo]="logo" [isLoggedIn]="isLoggedIn" [url]="baseUrl" [portal]="portalName"></app-navbar>
                  <app-responsive-navbar [currentUser]="currentUser" (Logout)="onLogout()" [logo]="logo" [url]="baseUrl" [portal]="portalName"></app-responsive-navbar> -->

                  <app-navbar [currentUser]="currentUser" (Logout)="onLogout()" [logo]="logo" [isLoggedIn]="isLoggedIn" [url]="baseUrl" [portal]="portalName"></app-navbar>
                  <app-responsive-navbar [currentUser]="currentUser" (Logout)="onLogout()" [logo]="logo" (openDrawer)="drawer.toggle()" [url]="baseUrl" [portal]="portalName"></app-responsive-navbar>
            </div>
        </mat-toolbar>
        <mat-divider class="noMarginPadding"></mat-divider>
        <div class="bodyDiv">
            <router-outlet></router-outlet>
        </div>
            <app-footer ></app-footer>
    </div>
</div>



