// @import '../assets/scss/responsive.scss';
.noMarginPadding {
    margin: 0px;
    padding: 0px;
}

.horizontalLine {
    position: relative;
}

.horizontalLine:after {
    content: "";
    background: lightgrey;
    position: absolute;
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
}

.sideDiv {
    width: 250px;
    float: left;
    display: block;
    height: calc(100vh - 61px);
}

.routingDiv {
    position: relative;
    height: calc(100vh - 61px);
    width: 100%;
    float: right;
    overflow-y: auto;
}

.headerDiv {
    height: 60px;
}

.completeDiv {
    height: 100vh;
}

.bodyDiv {
    height: calc(100vh - 61px) !important;
   
}
