<div class="col-sm-12 " [formGroup]= "genericForm"  *ngIf=" genericForm" >
  <div *ngFor="let parentData of genericData" >
    <app-dropdown-field *ngIf="parentData.input == 'radio' && parentData.visible " [genericData]="parentData" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-dropdown-field>
  
    <app-text-field *ngIf="parentData.input == 'text'  && parentData.visible " [genericData]="parentData" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-text-field>
    
    <app-textarea-field *ngIf="parentData.input == 'textarea'  && parentData.visible " [genericData]="parentData" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-textarea-field>
   
    <app-number-field *ngIf="parentData.input == 'number'  && parentData.visible " [genericData]="parentData" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-number-field>
    
  </div> 


</div>