@import "../../../../assets/scss/varibles.scss";
mat-table {
    width: 100%;
  }

    .active {
    color: $white-color;
    background-color: $primary-color;
  }

  .scrollhide {
    overflow: hidden !important;
  }
  .b-action {
    padding-right: 15px !important;
  }

  mat-dialog-actions {
    padding-right: 15px !important;
  }

  .message {
    text-align: center;
    background-color: $white-color;
    color: $text-color;
    position: absolute;
    top: 35%;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }