@import "../../../../assets/scss/varibles.scss";
.c-title {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}

.mat-card img {
 height: 100%;
}

.c-view {
  float: right;
  color: $green-color;
}
.no-image {
  height: 150px;
  background-color: #e5f3fe;
}

.c-description {
  padding-left: 15px;
  font-size: 15px;
}

// mat-card {
//   transition: none;
//   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
// }
