.c-card {
  max-width: 400px;
  min-width: 300px;
}

.mat-card img {
  // object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 120%;
}
.c-cardheader {
  align-items: center;
  flex-flow: column;
}

.c-view {
  float: right;
  color: green;
}

.c-cardcontent {
  height: 65%;
  background-color: grey;
  max-width: 100%;
}
