<div>
  <mat-card class="c-card">
    <mat-card-header class="c-cardheader">
      <mat-card-subtitle>{{cardData?.description ? cardData?.description: 'Shikshaloakam'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="c-cardcontent">
      <span *ngIf="cardData?.appIcon; else other">
        <img mat-card-image src="{{cardData?.appIcon}}" onError="this.src='/assets/images/1.jpg'"
          alt="Photo of a Shiba Inu">
      </span>
      <ng-template #other></ng-template>
    </mat-card-content>
    <mat-card-actions>
      <span class="text-color" style="padding-left: 15px;" mat-button> {{cardData?.time}}</span>
      <a href="{{cardData?.url}}" target="_blank"><span class="c-view">View</span></a>
    </mat-card-actions>
  </mat-card>
</div>