@import "../../../../assets/scss/varibles.scss";

.c-title {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}

.mat-card img {
  // object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 120%;
}
.c-cardheader {
  align-items: center;
  justify-content: center;
  // flex-flow: column;
  // margin-bottom: 10px;
}

.c-view {
  float: right;
  color: $green-color;
  font-size: larger;
}
.no-image {
  height: 150px;
  background-color: #e5f3fe;
}

.c-description {
  padding-left: 15px;
  font-size: 15px;
}

// mat-card {
//   transition: none;
//   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
// }
