@import "../../../../assets/scss/varibles.scss";

.mat-toolbar {
  font: inherit;
}

.c-filters {
  display: flex;
  justify-content: space-evenly;
  background-color: $white-color;
  flex-wrap: wrap;
  height: auto;
}
.svg {
  height: 40px;
  margin-bottom: 20px;
}

.tab-text {
  color: $text-color;
}
