<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <ul class="unorder-list">
          <li class="icons">
            <i class="material-icons"> 
              school
            </i>
            <div class="context"> 
              <div class="text-flow" matTooltip="Learning">Learning</div>
           </div>
          </li>

          <li class="icons">
            <a href="{{url}}/portal/assessments/" target="_blank" class="navigation">
            <i class="material-icons">
                assignment_turned_in
            </i>
            <div class="context">
              <div class="text-flow" matTooltip="Assessments">Assessments</div>
            </div>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>