<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <ul>
          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context"> Learning </div>
          </li>

          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context">
              <p>Assessments</p>
            </div>
          </li>

          <li class="icons">
            <i class="material-icons">
              school 
            </i>
            <div class="context">
              <div class="text-flow">School testing the texting 1234 testinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
              <div class="tooltip">School testing the texting 1234 testinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
            
            </div>
          </li>

          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context">
              <p>School</p>
            </div>
          </li>
          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context">
              <p>School</p>
            </div>
          </li>

          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context">
              <p>School</p>
            </div>
          </li>

          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context">
              <p>School</p>
            </div>
          </li>


          <li class="icons">
            <i class="material-icons">
              school
            </i>
            <div class="context">
              <p>School</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>