<div #card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle class="center">
        <div class="c-title">
         Assesment title
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="no-image">

        Name: shikshalokam program

        Creator: shikshalokam organisation

        Type: Rubric Based(Assesment)

        Creation Date: 13-08-2020
      </div>
     
    </mat-card-content>
    <mat-card-actions>
      <span class="_text-color c-description" mat-button>2 weeks ago</span>
      <a href="https://dev.community.shikshalokam.org/" target="_self"><span class="c-view">View</span></a>
    </mat-card-actions>
  </mat-card>
</div>