<div class="">
    <div class="col-xs-12 card-content">
        <mat-card class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <h4 style="padding-left: 20px;">List of Criteria</h4>
                </div>
                <!-- <div class="offset-md-6">
                   
                </div> -->
                <div class="offset-md-6 col-md-3">
                    <button class="addbutton _p-button" mat-flat-button title="Add Criteria"
                    (click)="autoAddCriteria()">
                    Add Criteria<i class="material-icons pull-right add-criteria-icon">add_circle_outline</i>
                </button>
                </div>
               
               
            </div>
            <div class="col-sm-12 mat-elevation-z8">

                <mat-table [dataSource]="criteriaList" matSort>

                    <!-- ID Column -->
                    <!-- <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </mat-cell>
                    </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell style="max-width: 25%;" *matHeaderCellDef mat-sort-header> Criteria Name
                        </mat-header-cell>
                        <mat-cell style="max-width: 25%;" class="text-capital" *matCellDef="let row"> {{row.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="text-capital"> {{row.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">



                            <span class="pull-right">
                                <button mat-raised-button (click)="getImprovementsCategories(element)"
                                    matTooltip="Add Improvements" class="actions">
                                    <i class="material-icons pull-left add-criteria-icon">add_circle_outline</i>
                                    Add IMPS</button>&nbsp;
                                <button (click)="getResources(element)" mat-raised-button matTooltip="Add Resources"
                                    class="actions">
                                    <i class="material-icons pull-left add-criteria-icon">add_circle_outline</i>Add
                                    Resources</button>&nbsp;
                                <button mat-raised-button (click)="viewCriteriaDetails(element)"
                                    matTooltip="View Details" class="actions">View</button>&nbsp;

                            </span>
                            <span class="pull-right">
                                <mat-icon class="cursor-pointer" matTooltip="Edit"
                                (click)="editCriteria(element)">edit</mat-icon>
                               
                            </span>
                            <span class="pull-right">
                                <mat-icon class="cursor-pointer" matTooltip="Delete"
                                (click)="confirmDialog(element)">delete</mat-icon>
                            </span>
                      
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-toolbar class="custom-toolbar">
                    <mat-toolbar-row style="padding: 0px;">
                        <mat-paginator [showFirstLastButtons]="true" [length]="this.criteriaListCount" #paginator
                            [pageSize]="criteriaListPageSize" [pageSizeOptions]="[5,10,20,50,100]"
                            (page)="onPaginateChange($event)">
                        </mat-paginator>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
        </mat-card>
    </div>
</div>