<div class="">
    <div class="col-xs-12 card-content">
        <mat-card class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <h4 style="padding-left: 20px;">{{'TITLE.CRITERIA_LIST' | translate}}</h4>
                </div>
               
                <div class="offset-md-6 col-md-3">
                    <button class="addbutton _p-button" mat-flat-button title="Add Criteria"
                        (click)="addCriteria()">
                        {{'ACTIONS.ADD_CRITERIA' | translate}}<i class="material-icons pull-right add-criteria-icon">add_circle_outline</i>
                    </button>
                </div>


            </div>
            <div class="col-sm-12 mat-elevation-z8 table-container table-responsive">

                <mat-table [dataSource]="criteriaList" style="height: 47vh;" matSort>

                    <!-- ID Column -->
                    <!-- <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </mat-cell>
                    </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell style="max-width: 25%;" *matHeaderCellDef mat-sort-header> Criteria Name
                        </mat-header-cell>
                        <mat-cell style="max-width: 25%;" class="text-capital long-text" *matCellDef="let row"> {{row.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="text-capital long-text"> {{row.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">

                            <span class="pull-right">
                                <button mat-raised-button (click)="getImprovementsCategories(element)"
                                    matTooltip="Add Improvements" class="actions">
                                    <i class="material-icons pull-left add-criteria-icon">add_circle_outline</i>
                                    {{'ACTIONS.ADD_IMPS' | translate}}</button>&nbsp;
                                <button (click)="getResources(element)" mat-raised-button matTooltip="Add Resources"
                                    class="actions">
                                    <i class="material-icons pull-left add-criteria-icon">add_circle_outline</i>{{'ACTIONS.ADD_RESOURCES' | translate}}</button>&nbsp;
                                <button mat-raised-button (click)="viewCriteriaDetails(element)"
                                    matTooltip="View Details" class="actions">{{'ACTIONS.VIEW' | translate}}</button>&nbsp;
                            </span>
                            <span class="pull-right">
                                <!-- <button  mat-mini-fab> -->
                                    <mat-icon class="cursor-pointer" matTooltip="Edit" (click)="editCriteria(element)">edit
                                    </mat-icon>
                                  <!-- </button> -->
                                

                            </span>
                            <span class="pull-right">
                                <!-- <button mat-mini-fab> -->
                                    <mat-icon class="cursor-pointer" matTooltip="Delete" (click)="confirmDialog(element)">
                                        delete</mat-icon>
                                  <!-- </button> -->
                                
                            </span>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="criteriaListCount == 0 || !criteriaList" class="message">{{'MESSAGES.NO_DATA' | translate}}</div>
            </div>
            <mat-paginator [showFirstLastButtons]="true" [length]="this.criteriaListCount" #paginator
            [pageSize]="criteriaListPageSize" [pageSizeOptions]="[5,10,20,50,100]"
            (page)="onPaginateChange($event)">
        </mat-paginator>
        </mat-card>
    </div>
</div>