@import '../../../../assets/scss/varibles.scss';
.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.margin-top{
margin-top:20px;
}
.folderIcon{
    font-size: 70px;
    color:$primary-color;
    display: flex;
    align-items: center;
}
.wrapper{
    padding:0px 20px;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
}


.h3 {
    margin-top: 0px ;
}


.card-header {
    margin-bottom: 10px !important;
}
.dropItem {
    background:#fff;color:#333;width:200px;height:200px;border:1px solid #ccc
}
.pull-right {
    float:right;
}
.pull-left {
    float:left;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .dropItem {
    background: #fff;
    color: #333;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc
  }
  .padd-15 {
      padding-bottom:10px;
  }
  .card-content {
    margin:15px 0px 15px 0px
  }

  .card-block {
    float: left;
    width:100%;
    min-height: 450px;

  }

  .m-top-10 {
      margin-top: 15px;
  }
  .material-icons {
      font-size: 24px;
      padding: 5px;
      vertical-align: middle;
  }
  .plus-icon {
    font-size: 27px;
  }
  .custom-card-block {
    margin-top:15px;
  }
  .margin-5-perc {
    margin-top: 5%
  }
  .margin-top-0 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 600;
  }
  .add-keyword-block {
    margin-bottom: 10px;
  }
  .cursor-pointer {
      cursor: pointer;
  }
  .margin-right {
    margin-right: 10px;
  }
  .toobar-spacer {
    flex: 1 1 auto;
  }

  .custom-toolbar {
    background: #fff;
    min-height: 90px;
  }

  

  .add-criteria-icon {
     cursor: pointer;
    
  }

  .add-criteria-lable {
    font-size: 19px;
    cursor: pointer;
    color: royalblue;
  }

  button.m-top-10.mat-flat-button.mat-primary {
    cursor: pointer;
  }
  .comingsoon-block {
    float: left;
            width: 98%;
            margin: 15px;height: 300px;
  }

  .mtable {
    margin-bottom: 40px;
  }

  .mat-column-action {
   text-align: right;
   justify-content: flex-end;
  }

  .mat-column-no .mat-form-field{
   width: 10%;
  
   }
   .customWidthClass{
    flex: 0 0 75px;
 }
   .mat-column-description .mat-form-field {
    width: 100%;
   }
  .mat-column-description{
    flex: 0 0 20% !important;
   }
   .mat-form-field-description {
     width: 100%;
   }
 .mat-form-field-infix-description {
   width: 100%
 }
 .mat-column-no .mat-header-cell {
   max-width: 10%;
 }

.actioncolor {
  color: #a63936;
  font-size: 15px;
 }
 .cspin {
  background-color: "rgba(51,51,51,0.8)";
   size: "medium";
  color: "#fff";
  
 }
 .text-center {
   text-align: center;
 }
 .padd-bottom-5 {
   padding-bottom: 5px;
 }
 .noPadd {
   padding:0px;
 }

 .addbutton {
  margin-right: 15px;
  margin-bottom: 10px;
 }


  
  
  
 