@import "../../../../assets/scss/varibles.scss";

.dashboard-content {
  padding-top: 100px;
}
.c-toolbar {
  background-color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.tab-text {
  color: $text-color;
}
